workflow/Webhook AI Data Processing Pipeline.json
{
  "name": "Webhook AI Data Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook",
        "responseMode": "responseNode",
        "options": {
          "rawBody": "={\n  \"title\": \"Comprar leche\",\n  \"userNumber\": \"+521234567890\"\n}"
        }
      },
      "id": "b10d6c9e-4d70-496d-a253-36a8b6d311c2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "6dc21524-3e92-45f4-9a8a-a069f6ad1c03",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Improve and make more detailed the following task title: {{ $json.body.title }}\n\nProvide ONLY one improved enriched title, no explanations, no multiple options, no markdown formatting, and no additional text. Just the improved title. Do not return multiple options",
        "options": {}
      },
      "id": "82ed3edb-cdb8-46b2-83b4-2d64a8b493f3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "tableId": "todos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "7bc243cd-4d1a-4855-9c87-a747771a33d7",
      "name": "Supabase Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "Baer1XoC4J8qftq5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"title\": \"{{$json.title}}\"\n}\n\n\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8d0e6516-3831-41df-aa25-c5360c61a09a",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "id": "225a1640-04a4-436b-b0e9-415c11e66d0a",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        240
      ],
      "credentials": {
        "anthropicApi": {
          "id": "HbtTjTGD0T9rNKnY",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Supabase Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Database": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a6a2f4e-c118-412d-ab2c-ad21cd47d353",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "836a767cc4827f92834e5deb650ecbb297204b1244641726db855e9b46636f6b"
  },
  "id": "sWJflPPAKEUdaLc6",
  "tags": []
}